

<br>

<%= form_for @listing do |form| %>

  <div class="text-field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  
  <div class="text-field">
    <%= form.label :description %>
    <%= form.text_field :description, placeholder:"description" %>
  </div>


  
  <div class="text-field">
    <%= form.label :price %>
    <%= form.text_field :price_per_night %>
  </div>
  
  <div class="text-field">
    <%= form.label :guest_number %>
    <%= form.text_field :guest_number %>
  </div>

   <div class="text-field">
    <%= form.label :room_number %>
    <%= form.text_field :room_number %>
  </div>

   <div class="text-field">
    <%= form.label :bath_number %>
    <%= form.text_field :bath_number %>
  </div>

  <div class="text-field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="text-field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="text-field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="text-field">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode %>
  </div>

  <div class="text-field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

 <div class="submit-field">
    <%= form.submit %>
  </div>
 

<% end %>
