

<h1>Hello, Travellers!</h1>


<%= form_tag search_path, method: :get do %>
 <%= label_tag "Property Name" %>
 <%= text_field_tag :check_title, nil, list:"property_name",:autocomplete => :off %>
 <datalist id = "property_name"></datalist>

 <%= submit_tag "Search" %>
<% end %>




<p><a href ='listings/new'>Start to Host</a></p>
<p><a href ='listings#index'>All Listings</a></p>


<%Listing.all.each do |y|%>

<li>Name :<a href= 'listings/<%= y.id %>'><%= y.name%> </a></li>
<li>Description :<%= y.description %> </li>
<li>Property Type :<%= y.property_type%> </li>
<li>Price: <%= y.price_per_night %> </li>
<li>Listing By: <%= y.user.first_name %> </li>
<%= link_to 'Show', edit_listing_path(y) %> |
<%= link_to 'Edit', edit_listing_path(y) %> |
<%= link_to 'Delete', edit_listing_path(y) %>
<br>
<br>	

<%end%>



