

<h1>Hello, Rails!</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= link_to "Make Payment", braintree_new_path %>


<p><a href ='listings/new'>Start to Host</a></p>
<p><a href ='listings#index'>All Listings</a></p>


<%Listing.all.each do |y|%>

<li>Name :<a href= 'listings/<%= y.id %>'><%= y.name%> </a></li>
<li>Description :<%= y.description %> </li>
<li>Property Type :<%= y.property_type%> </li>
<li>Price: <%= y.price_per_night %> </li>
<li>Listing By: <%= y.user.first_name %> </li>
<br>
<br>	

<%end%>



