<!DOCTYPE html>
<html>
  <head>
    <title>Airbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


       <% if signed_in? %>
       <p>You are signed in as: <%= current_user.email %></p>
       <%= button_to "Sign out", sign_out_path, method: :delete %>
       <%= button_to "Home", root_path, method: :get%>
    
      <% else %>
      <%= link_to "Sign in", sign_in_path %>
      <%= link_to "Sign in with Google", "/auth/google_oauth2" %>
      <% end %>


    <%= yield %>
  </body>
</html>
